<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing Page</title>
<style>

</style>
</head>
<body>
  <h1>Landing Page</h1>
  <br>
  <h3>Note: This is a prototype for backend sign up login system. One has made just to clear the concepts around which this project is revolved.</h3>
  <br>
  <p>Press the button below to explore more on the prototype</p>

<form name="get_started_form" method="POST">
    <div>
        {{ begin.csrf_token }}
        {{ begin.begin }}
    </div>
</form>

</body>
</html>